$selector: '.movies';

#{$selector}-wrapper {
	display: flex;
	flex-direction: row;
	position: relative;
}

#{$selector}-list {
	white-space: nowrap;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	position: relative;
	z-index: 1;
}

#{$selector}-item {
	$selector: '.movies-item';
	width: 141px;
	position: relative;
	z-index: 0;
	text-align: center;
	margin: 16px;

	&__img-wrapper {
		width: 141px;
		height: 191px;
		display: block;
	}

	&__link {
		display: block;
		color: #91949c;
	}

	&__img {
		width: 100%;
		height: 100%;
		display: block;
	}

	&__title {
		display: inline-block;
		margin-top: 10px;
		line-height: 20px;
		overflow: hidden;
	    width: 100%;
	    text-overflow: ellipsis;
	}

	&__tooltip {
		dl {
			dt {
				float: left;

				&:after {
					content: ':\A0';
				}
			}
			dd {
				margin-bottom: 10px;
			}
			div {
			}
		}
	}

	&:hover {
		#{$selector}__link:before {
			content: "";
		    background-color: #fff;
		    position: absolute;
		    top: -8px;
		    right: -8px;
		    bottom: -8px;
		    left: -8px;
		    border-radius: 3px;
		    box-shadow: 0 0 5px rgba(0,0,0,0.15);
		    z-index: -1;
		}
	}

}

