@import 'components/movies-list/movies-list';
@import 'components/movie/movie';
@import 'components/tooltip/tooltip';

#app {
	max-width: 980px;
    margin: 0 auto;
}

html,
body,
#app {
    height: 100%;
}
